.drop-file-container {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  flex-direction: column;
  min-height: 90px;
  border: 2px dashed #d5d5d5;
  color: #3f3f3f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-file-container_RESTYLED {
  font-size: 12px;
  border-radius: 5px;
  padding: 12px;
  border: 2px dashed #d5d5d5;
  color: #a3abb1;
  display: flex;
  align-items: center;
  background-color: #f5f6f7;
  box-sizing: border-box;
  cursor: pointer;
}

.drop-file-container-active {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  flex-direction: column;
  min-height: 90px;
  max-height: 200px;
  overflow: scroll;
  border: 2px dashed #d5d5d5;
  color: #3f3f3f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-file-container:hover {
  cursor: pointer;
}

.avatar-drop-container {
  cursor: pointer;
  height: 150px;
  width: 150px;
  border-radius: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-drop-container:hover {
  background-color: #f5f6f7;
}

.avatar-drop-container-active {
  cursor: pointer;
  height: 150px;
  width: 150px;
  border-radius: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f6f7;
}
